/*
    Component: header
    ---
    Main header of the website
*/

.c-header__nav {
  color: #202024;
}

@media (min-width: 992px) {
  .c-header {
    color: #202024;
  }

  .c-header__nav {
    color: #202024;
  }
}
